
.tab{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #3d4ec6;
}
li{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    position: relative;
}
.line{
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color:#00a8ff ;
    position: absolute;
    top:5px;
    left: 35px;

}
.line1{
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color:#fa8513 ;
    position: absolute;
    top:0px;
    left: 50px;

}
.active{
    color:#00a8ff ;
    font-weight: bold;
}
.active1{
    color:#fa8513 !important; ;
    font-weight: bold;
}

input {
 line-height: 20px!important;
 height: 20px!important;
    border: none;
}
/*发展排名表格*/
/*.datagrid-htable td{border:none;}*/
.datagrid-header, .datagrid-td-rownumber{ background: none;}
.datagrid-header td.datagrid-header-over{background: none;cursor: pointer;border: none}
.datagrid-htable{background:  #02004f;border: 1px solid #0d3d88}
.datagrid-body td, .datagrid-footer td {
    border-top: 1px solid #0d3d88;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #0d3d88;
    margin: 0;
    padding: 0;}
/*.datagrid-header{height:38px !important; line-height: 38px;border: none}*/
.datagrid-body td, .datagrid-footer td{border-top:none;}
.datagrid-btable, .datagrid-ftable{border:none;background-color: none;margin-bottom: 10px;border-right: 1px solid #0d3d88}
.datagrid-row{height:24px !important;border-right: 1px solid #0d3d88;}
.datagrid-cell-rownumber {color: #fff;}
.datagrid-header .datagrid-cell span{color: #00deff;}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{font-size:12px;}
.datagrid-pager .pagination {display:none;}
.datagrid-htable td {
    border: 1px solid #0d3d88;
    cursor: default;
}
/*div.datagrid-cell.datagrid-cell-c2-GRID_NAME{
    margin-top: -5px;
}
div.datagrid-cell.datagrid-cell-c2-ROWNUM{
    margin-top: -5px;
}
div.datagrid-cell.datagrid-cell-c2-FIN_INCOME{
    margin-top: -5px;
}
div.datagrid-cell.datagrid-cell-c2-MOBILE_MON_CUM_NEW{
    margin-top: -5px;
}
div.datagrid-cell.datagrid-cell-c2-BRD_MON_CUM_NEW{
    margin-top: -5px;
}
div.datagrid-cell.datagrid-cell-c2-ITV_MON_NEW_INSTALL_SERV{
    margin-top: -5px;
}*/
.datagrid-row-selected {
    background: transparent;
}

/*屏幕高度最大为1080px*/
@media screen and (max-height: 1080px) {
    #mark_sub_in {width:100%;height:100%;position: absolute;  top:50px;left: 15px}
    .point{
        width: 24px;
        height: 24px;
        line-height: 24px;
        background-color: #fa8513;
        color: #fff;
        font-size: 14px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        float: left;
    }
    .market_topline {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        background-color: #073c8f;
        padding-left: 10px;
        width: 100%;
        box-shadow: 0 1px 1px #109afb;
    }
    .market_topline li{display: inline-block;margin-right: 20px;font-size: 16px;width:25%;}

    .target_list dt {
        font-size: 2.0rem;
        font-weight: bold;
        color: #ffd200;
        margin: 20px 0;
    }
    .target_wrap {
        height: 23% !important;
        border-bottom: 1px solid #3d4ec6;
        padding: 10px 10px;
    }
    .target_wrap1{
        height:46% !important;
    }
    .target_wrap_a{
        width:100%;
        border:none;
        height:38% !important;
        position: relative;
        padding: 10px 10px;

    }
    .target_wrap_b{
        width:100%;
        border:none;
        height:45% !important;
        position: relative;
        padding: 10px 10px;
    }
    .target_wrap_c{
        width:100%;
        border:none;
        height:66% !important;
        position: relative;
        padding: 10px 10px;
    }
    .target_wrap_d{
        width:100%;
        border:none;
        height:46% !important;
        position: relative;
        padding:10px;
    }
    .target_wrap_e{
        height:28% !important;
        border-bottom: 1px solid #3d4ec6;
        padding: 8px 10px;
    }
    .target_dev{
        height:30% !important;
        border-bottom: 1px solid #3d4ec6;
    }
    .target_dev_a{
        height:32% !important;
        border-bottom: 1px solid #3d4ec6;
    }
    .target_dev_b{
        height:34% !important;
        border-bottom: 1px solid #3d4ec6;
        padding:10px 10px;
    }
    .target_dev_c{
        height:20% !important;
        border-bottom: 1px solid #3d4ec6;
        padding:10px 10px;
    }

    .wrap_a {
        color: #ffd305;
        padding-left: 8px;
        font-weight: bold;
        margin-bottom: 1rem !important;
        font-size: 15px;
        margin: 5px 5px;
    }
    .wrap_a a {color:#fff;font-size: 15px;font-weight:normal;}
    .wrap_a a.active {
        color: #ffd305;
        font-weight: bold;
        font-size: 15px;
        text-decoration:none;
    }
    .target_list dd {
        font-size: 16px;
        height: 1rem;
        padding-left: 24px;
        margin: 18px -2px;
    }

    .btn_c {
        height: 30px;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 30px;
        z-index: 9999999;
        text-align: center;
        margin-top: -20px;
    }
    .figure{
        width:520px;
        height:95%;
        margin: 0px auto;
        margin-right: auto;
        margin-left: auto;
    }
    .day{
        width: 520px;
        height:120%;
        margin: -15px auto;
    }
    .deve_ta{
        display: inline-block;
        border: 1px solid #073b8a;
        background-color: #052768;
        width: 28%;
        height: 70px;
        position: relative;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }
    .deve_tb{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 67%;
        height: 70px;
        float: left;
    }
    .deve_tc{
        display: inline-block;
        border: 1px solid #073b8a;
        background-color: #052768;
        width: 33%;
        height: 105px;
        position: relative;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
    }
    .deve_td{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 61%;
        height: 105px;
        float: left;
    }
    .deve_te{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 61%;
        height: 105px;
        float: left;
        padding-top:10px;
    }
    .devep{
        width: 100%;margin-top: 18px;height: 70px;
    }
    .deveq{
        width: 100%;margin-top: 18px;height: 95px;
    }
    .tave{
        border-right: 1px dotted #6a89b9;
        padding: 12px 0;
    width: 20%;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        color: #fff;
    }
    .tava{
        display: inline-block;width: 78%;text-align: center;
        position: absolute;
        left: 33px;
        top: 16px;
    }
    .tavb{
        display: inline-block;width: 78%;text-align: center;
        position: absolute;
        left: 19px;
        top: 29px;
    }
    .tavae{
        width: 100%;color: #fcd001;font-size: 30px;margin-bottom: 5px;
    }
    .quota{
        font-size: 12px;
        color: #fff;
        display: block;
        border: none;
        margin-left: 18px;
        margin-top: 10px;
        position: relative;
    }
    .datagrid-cell {
        padding: 10px 10px;
        height: auto;
        font-size: 14px;
    }
  /*  .datagrid-header {
        height: 56px !important;
        line-height: 56px;}*/
}
/*屏幕高度最大为768px*/
@media screen and (max-height: 768px) {
    #mark_sub_in {width:100%;height:100%;position: absolute;  top:40px;left: 10px}
    .point{width: 16px;height: 16px;line-height:16px;background-color: #fa8513;color: #fff;font-size: 12px;text-align: center;margin-left: 5px;margin-right: 5px;    display: inline-block;  float: left;}
    .market_topline {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        background-color: #073c8f;
        padding-left: 10px;
        width: 100%;
        box-shadow: 0 1px 1px #109afb;
    }
    .market_topline li{display: inline-block;margin-right: 15px;font-size: 12px;width:25%;}
    .clearfix {
        overflow: hidden;
        _zoom: 1;
        clear: both;
        margin-top: 0px;
        height: 100%;
    }
    .target_wrap{
        height:23% !important;
        border-bottom: 1px solid #3d4ec6;
    }
    .target_wrap1{
        height:34% !important;
    }
    .target_wrap_b{
        width:100%;
        border:none;
        height:36% !important;
        position: relative
    }
    .target_wrap_c{
        width:100%;
        border:none;
        height:54% !important;
        position: relative;
        padding: 10px 10px;
    }
    .target_wrap_d{
        width:100%;
        border:none;
        height:46% !important;
        position: relative;
        padding:10px;
    }
    .target_wrap_e{
        height:23% !important;
        border-bottom: 1px solid #3d4ec6;
        padding: 8px 10px;
    }
    .target_dev{
        height:32% !important;
        border-bottom: 1px solid #3d4ec6;
    }
    .target_dev_a{
        height:34% !important;
        border-bottom: 1px solid #3d4ec6;
    }
    .target_dev_b{
        height:38% !important;
        border-bottom: 1px solid #3d4ec6;
        padding:10px 10px;
    }
    .target_dev_c{
        height:25% !important;
        border-bottom: 1px solid #3d4ec6;
        padding:10px 10px;
    }
    .target_wrap_a{
        width:100%;
        border:none;
        height:40% !important;
        position: relative
    }
    .wrap_a {
        color: #ffd305;
        padding-left: 8px;
        font-weight: bold;
        margin-bottom: 5px !important;
        font-size: 15px;
        margin: 5px 5px;
        border-left: 3px solid #ffd305;
    }
    .wrap_a a {color:#fff;font-size: 15px;font-weight:normal;}
       .wrap_a a.active {
        color: #ffd305;
        font-weight: bold;
        font-size: 15px;
        text-decoration:none;
    }
    .target_list dd{
        font-size: 12px;
        height: 1.5rem;
        padding-left: 10px;
        margin: -2px 10px;
    }
    .target_list dt {
        font-size: 1.8rem;
        font-weight: bold;
        color: #ffd200;
        margin: 16px 0;
    }
    .target_tab li{
        margin-top: 8px
    }
    .btn_c {
        height: 30px;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 30px;
        z-index: 9999999;
        text-align: center;
        margin-top: -22px;
    }
    .figure{
        width: 360px;
        height:90%;
        margin: 0px auto;
    }
    .day{
        width: 370px;
        height: 90%;
        margin:  -10px auto;
    }
    .deve_ta{
        display: inline-block;
        border: 1px solid #073b8a;
        background-color: #052768;
        width: 28%;
        height: 56px;
        position: relative;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }
    .deve_tb{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 67%;
        height: 56px;
        float: left;
    }
    .deve_tc{
        display: inline-block;
        border: 1px solid #073b8a;
        background-color: #052768;
        width: 28%;
        height: 81px;
        position: relative;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }
    .deve_td{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 67%;
        height: 81px;
        float: left;
    }
    .deve_te{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 67%;
        height: 81px;
        float: left;
        padding-top:10px;
    }
    .devep{
        width: 100%;margin-top: 12px;height: 56px;
    }
    .deveq{
        width: 100%;margin-top: 12px;height: 81px;
    }
    .tave{
        border-right: 1px dotted #6a89b9;padding: 5px;width: 20%;text-align: center;display: inline-block;font-size: 12px;color: #fff;
    }
    .tava{
        display: inline-block;width: 78%;text-align: center;
        position: absolute;
        left: 23px;
        top: 8px;
    }
    .tavb{
        display: inline-block;width: 78%;text-align: center;
        position: absolute;
        left: 14px;
        top: 21px;
    }
    .tavae{
        width: 100%;color: #fcd001;font-size: 18px;margin-bottom: 2px;
    }
    .quota{
        font-size: 12px;
        color: #fff;
        display: block;
        border: none;
        margin-left: 8px;
        margin-top: 5px;
        position: relative;
    }
    .datagrid-cell {
        padding: 6px 0px;
        height: auto;
        font-size: 12px;
    }
    .datagrid-row {
        height: 18px !important;
        line-height: 18px;
        border-right: 1px solid #0d3d88;
    }
    .in_plan{display: inline-block;width: 100%;height: 90%}
    .in_plan li{list-style: none;display: inline-block;width: 24%;height:92%;border-right: 1px dotted #073c8f;margin-top: -30px;}
    .in_plan li:first-child{border-right: none;position: relative;  top: 30px;left:0px}
    .paln_title1{color: #ffd305;font-size: 20px;width: 100%;text-align: center;margin-top: 40px;margin-bottom: 5px}
    .target_wrap_in{position: relative;height:160px !important;width: 98%;border-bottom: 1px solid #3d4ec6;padding: 10px 10px;  }
    .target_wrap h3{margin-bottom: 1rem !important; font-size: 15px;}
    .pie_number{display: inline-block;top:36%;left: 32%;position: absolute}
    .figure1{
        width:400px;
        height:100%;
        margin-top: -4px;
        margin-right: auto;
        margin-left: auto;
    }
    /*.datagrid-header {
        height: 38px !important;
        line-height: 38px;}*/
}
/*屏幕高度最大为600px*/
@media screen and (max-height: 600px) {
    #mark_sub_in {width:100%;height:100%;position: absolute;  top:40px;left: 10px}
    .clearfix {
        overflow: hidden;
        _zoom: 1;
        clear: both;
        margin-top: 5px;
    }
    .target_wrap{
        height:21% !important;
        border-bottom: 1px solid #3d4ec6;
        padding: 8px 10px;
    }
    .target_wrap_a{
        width:100%;
        border:none;
        height:39% !important;
        position: relative
    }
    .target_wrap_b{
        width:100%;
        border:none;
        height:36% !important;
        position: relative
    }
    .target_wrap_c{
        width:100%;
        border:none;
        height:54% !important;
        position: relative;
        padding: 10px 10px;
    }
    .target_wrap_d{
        width:100%;
        border:none;
        height:46% !important;
        position: relative;
        padding:10px;
    }
    .target_wrap_e{
        height:26% !important;
        border-bottom: 1px solid #3d4ec6;
        padding: 8px 10px;
    }
    .target_dev{
        height:30% !important;
        border-bottom: 1px solid #3d4ec6;
    }
    .target_dev_a{
        height:32% !important;
        border-bottom: 1px solid #3d4ec6;
    }
    .target_dev_b{
        height:40% !important;
        border-bottom: 1px solid #3d4ec6;
        padding:10px 10px;
    }
    .target_dev_c{
        height:26% !important;
        border-bottom: 1px solid #3d4ec6;
        padding:10px 10px;
    }

    .wrap_a {
        color: #ffd305;
        padding-left: 8px;
        font-weight: bold;
        margin-bottom: 1rem !important;
        font-size: 15px;
        margin: 0;
        border-left: 3px solid #ffd305;
    }
    .wrap_a a {color:#fff;font-size: 15px;font-weight:normal;}
    .wrap_a a.active {
        color: #ffd305;
        font-weight: bold;
        font-size: 15px;
        text-decoration:none;
    }
    .target_list dd {
        font-size: 11px;
        height: 1rem;
        padding-left: 10px;
        margin: 5px 2px;
    }
    .target_list dt {
        font-size: 1.4rem;
        font-weight: bold;
        color: #ffd200;
        margin: 5px 0;
    }
    .target_tab li{
        margin-top: 5px
    }
    .target_list li {
        float: left;
        width: 33.33%;
        border-right: 1px dashed #34337f;
        text-align: center;
        height: 99%;}
    .figure{
        width:340px;
        height:95%;
        margin-top: 0px
    }
    .figure1{
        width:340px;
        height:100%;
        margin-top: -4px;
        margin-right: auto;
        margin-left: auto;
    }
    .day{
        width: 360px;
        height:80%;
        margin-top: -20px
    }
    .btn_c {
        height: 30px;
        width: 100%;
        cursor: pointer;
        position: absolute;
        top: 30px;
        left: 20px;
        z-index: 9999999;
        text-align: center;
        margin-top: -22px;
    }
    .deve_ta{
        display: inline-block;
        border: 1px solid #073b8a;
        background-color: #052768;
        width: 30%;
        height: 50px;
        position: relative;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }
    .deve_tb{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 67%;
        height: 50px;
        float: left;
    }
    .deve_tc{
        display: inline-block;
        border: 1px solid #073b8a;
        background-color: #052768;
        width: 30%;
        height: 75px;
        position: relative;
        float: left;
        margin-right: 5px;
        margin-left: 5px;
    }
    .deve_td{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 67%;
        height: 75px;
        float: left;
    }
    .deve_te{
        display: inline-block;
        border:1px solid #073b8a;
        background-color: transparent;
        width: 67%;
        height: 75px;
        float: left;
        padding-top:10px;
    }
    .devep{
        width: 100%;margin-top: 0px;height: 50px;
    }
    .deveq{
        width: 100%;margin-top: 5px;height: 75px;
    }
    .tave{
        border-right: 1px dotted #6a89b9;padding: 3px;width: 20%;text-align: center;display: inline-block;font-size: 12px;color: #fff;
    }
    .tava{
        display: inline-block;width: 78%;text-align: center;
        position: absolute;
        left: 23px;
        top: 4px;
    }
    .tavb{
        display: inline-block;width: 78%;text-align: center;
        position: absolute;
        left: 16px;
        top: 17px;
    }
    .tavae{
        width: 100%;color: #fcd001;font-size: 18px;margin-bottom: 0px;
    }
    .quota{
        font-size: 12px;
        color: #fff;
        display: block;
        border: none;
        margin-left: 8px;
        margin-top: 2px;
        position: relative;
    }
    .datagrid-cell {
        padding: 3px 2px;
        height: auto;
        font-size: 12px;
    }
  /*  .datagrid-header {
        height: 38px !important;
        line-height: 38px;}*/

    .market_topline li{display: inline-block;margin-right: 5px;font-size: 12px;width:25%;}

    .in_plan{display: inline-block;width: 100%;height: 90%}
    .in_plan li{list-style: none;display: inline-block;width: 23%;height:86%;border-right: 1px dotted #073c8f;margin-top: -50px;}
    .in_plan li:first-child{border-right: none;position: relative;  top: 30px;  left: -10px;}
    .target_wrap_in{position: relative;height:120px !important;width: 98%;border-bottom: 1px solid #3d4ec6;padding: 10px 10px;  }
    .paln_title1{color: #ffd305;  font-size: 20px;  width: 100%;  text-align: center;  margin-top: 20px;  margin-bottom: 10px;}
    .pie_number{display: inline-block;top:52%;left: 36%;position: absolute}
}



/*--------适配1920x1080分辨率-------*/
@media screen and (min-height: 750px) {
    /*.datagrid-row{height:28px !important;border-right: 1px solid #0d3d88;}*/
    .in_plan{display: inline-block;width: 100%;height: 90%}
    .in_plan li{list-style: none;display: inline-block;width: 24%;height:92%;border-right: 1px dotted #073c8f;margin-top: -30px;}
    .in_plan li:first-child{border-right: none;position: relative;  top: 30px;left:20px}
    .paln_title1{color: #ffd305;font-size: 20px;width: 100%;text-align: center;margin-top: 40px;margin-bottom: 5px}
    .target_wrap_in{position: relative;height:160px !important;width: 98%;border-bottom: 1px solid #3d4ec6;padding: 10px 10px;  }
    .target_wrap h3{margin-bottom: 1rem !important; font-size: 16px;}
    .pie_number{display: inline-block;top:36%;left: 22%;position: absolute}
    .figure1{
        width:520px;
        height:100%;
        margin-top: -10px;
        margin-right: auto;
        margin-left: auto;
    }
    .wrap_a {
        color: #ffd305;
        padding-left: 8px;
        font-weight: bold;
        margin-bottom: 1rem !important; font-size: 16px;
        border-left: 3px solid #ffd305;
    }
        .wrap_a a {color:#fff;font-size: 16px;font-weight:normal;}
    .wrap_a a.active {
        color: #ffd305;
        font-weight: bold;
        font-size: 16px;
        text-decoration:none;
    }
    .target_wrap:last-child {
        padding: 1.2rem 0.4rem 0.2rem;}
    .datagrid-cell-rownumber{padding: 10px 6px; height:auto;}
    .target_list p.channel_title {padding: 2px 20px;  font-size: 15px;}
    .point_rank_tab th {padding:10px 0;}
    .point_rank_tab td{padding:4px 0;}
    .target_list{padding-top:20px;}
}
.date_container {position:absolute;z-index:99999;right:65%;padding:0 12px;}
.date {right:65%;padding:0 12px;color:#fff;height:28px;line-height:28px;}
.date span {color:#ffd200;}
.panel {
    overflow: hidden;
    text-align: left;
    margin: 0;
    /*border: 0;*/
    position: absolute;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    top: 30;}

::-webkit-scrollbar {
    width:10px;
    border-radius: 2px 2px 2px 2px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 4px;
    background: rgba(206, 206, 206, 0.22);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: rgb(119, 119, 119);
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(11,26,165,1);
}

::-moz-scrollbar {
    width:10px;
}
/* 滚动槽 */
::-moz-scrollbar-track {
    -moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background: rgb(206, 206, 206);
}
/* 滚动条滑块 */
::-moz-scrollbar-thumb {
    background: rgb(206, 206, 206);
    -moz-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-moz-scrollbar-thumb:window-inactive {
    background: rgb(206, 206, 206);
}

#mark_sub_in .layout {width:100%;height:100%;}

.g_target h1 div {display:inline-block;}
.g_target h1 .a1 {width:41px;height:22px;background:url('../images/tar_bg3.png') no-repeat center top;border-radius:5px;color:#fff;font-size:13px;line-height:20px;display:inline-block;margin-left:10px;margin-top:5px;}/*tar_bg1*/
.g_target h1 .a2 {width:41px;height:22px;background:url('../images/tar_bg3.png') no-repeat center top;border-radius:5px;color:#fff;font-size:13px;line-height:20px;display:inline-block;margin-left:10px;margin-top:0px;}/*tar_bg2*/
.g_target h1 {line-height:40px;}

.topline_orange{color: #fa8513;margin-left: 5px}
.three_tab{font-size: 14px;}

.paln_title2{color: #fff;font-size: 12px;width: 100%;text-align: center}