div.tab_menu a {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 22px;
    line-height: 22px;
    width: 60px;
    border-radius: 2px;
    text-align: center;
    color: #a7d9ff;
    text-decoration: none;
}

div.tab_menu a.selected {
    background-color: #025aac;
    color: #fff;
}

div.tab_box {
    clear: both;
}

input {
    line-height: 22px !important;
    height: 22px !important;

    border-radius: none;
    border: none;
    padding: 0;
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
    margin-top: -8px;
}

@media screen and (max-height: 1080px) {
    .target_wrap h3 {
        margin-top: 4px !important;
        font-size: 16px;
    }

    .target_list li {
        float: left;
        width: 33.33%;
        text-align: center;
        border-right: 1px dashed rgb(52, 51, 127);
        height: 86%;
    }

    .target_list p.target_title {
        padding: 4px 30px;
        font-size: 12px;
        margin-top: 10px;
    }

    .target_list dt {
        font-size: 18px;
        margin: 10px 0;
    }

    .target_list dd {
        font-size: 14px;
        height: 20px;
        padding-left: 10px;
        text-align: center;
        line-height: 20px;
        background-image: url("../images/phone.png");
        background-repeat: no-repeat;
        margin-left: 8px;
        margin-top: 20px;
    }

    .clearfix {
        overflow: hidden;
        _zoom: 1;
        clear: both;
        margin-top: -12px;
    }

    /*模块文字描述*/
    .copment {
        width: 100%;
        height: 20px;
        margin-left: -20px;
    }

    .dopment {
        width: 100%;
        height: 20px;
        margin-left: 10px;

    }

    .comp {
        display: inline-block;
        margin-left: 30px;
    }

    .com_white {
        color: #fff;
        font-size: 12px;
    }

    .com_yellow {
        color: #ffd305;
        font-size: 12px;
    }

    /*竞争表格*/
    #compment {
        color: #fff;
        width: 100%;
        margin-top: 5px;
        height: 70%;
    }

    #compment th {
        background-color: #02004f;
        color: #00deff;
        border: 1px solid rgb(70, 120, 175);
        font-size: 11px;
    }

    #compment td {
        color: #fff;
        text-align: center;
        border: 1px solid rgb(70, 120, 175);
        font-size: 11px;
    }

    /*发展*/
    #tab_btn {
        margin-top: -25px;
    }

    .domp {
        display: inline-block;
        margin-left: 30px;
    }

    #Development {
        width: 100%;
        height: 88%;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        position: relative;
        background: transparent;
        margin-top: 10px;
    }
}

@media screen and (max-height: 768px) {
    .target_wrap h3 {
        margin-top: 4px !important;
        font-size: 16px;
    }

    .target_list li {
        float: left;
        width: 33.33%;
        text-align: center;
        border-right: 1px dashed rgb(52, 51, 127);
        height: 86%;
        margin-top: 0px;
    }

    .target_list p.target_title {
        padding: 4px 30px;
        font-size: 12px;
        margin-top: 10px;
    }

    .target_list dt {
        font-size: 16px;
        margin: 10px 0;
    }

    .target_list dd {
        font-size: 12px;
        height: 20px;
        padding-left: 4px;
        text-align: center;
        line-height: 20px;
        background-image: url("../images/phone.png");
        background-repeat: no-repeat;
        margin-left: 8px;
        margin-top: 0px;
    }

    .clearfix {
        overflow: hidden;
        _zoom: 1;
        clear: both;
        margin-top: -12px;
    }

    /*模块文字描述*/
    .copment {
        width: 100%;
        height: 20px;
        margin-top: -8px;
        margin-left: 0px
    }

    .dopment {
        width: 100%;
        height: 20px;
        margin-top: -5px;
    }

    .comp {
        display: inline-block;
        margin-left: 8px;
    }

    .domp {
        display: inline-block;
        margin-left: 8px;
    }

    .com_white {
        color: #fff;
        font-size: 12px;
    }

    .com_yellow {
        color: #ffd305;
        font-size: 12px;
    }

    /*竞争表格*/
    #compment {
        color: #fff;
        width: 100%;
        margin-top: 5px;
        height: 66%;
    }

    #compment th {
        background-color: #02004f;
        color: #00deff;
        border: 1px solid rgb(70, 120, 175);
        font-size: 11px;
    }

    #compment td {
        color: #fff;
        text-align: center;
        border: 1px solid rgb(70, 120, 175);
        font-size: 11px;
    }

    /*发展*/
    #tab_btn {
        margin-top: -20px;
    }

    .domp {
        display: inline-block;
        margin-left: 18px;
    }

    #Development {
        width: 100%;
        height: 78%;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        position: relative;
        background: transparent;
    }
}

@media screen and (max-height: 600px) {
    .target_wrap h3 {
        margin-top: -3px !important;
        font-size: 14px;
    }

    .target_list li {
        float: left;
        width: 33.33%;
        text-align: center;
        border-right: 1px dashed rgb(52, 51, 127);
        height: 86%;
        margin-top: 10px;
    }

    .target_list p.target_title {
        padding: 3px 25px;
        font-size: 12px;
        margin-top: 10px;
    }

    .target_list dt {
        font-size: 14px;
        margin: 10px 0;
    }

    .target_list dd {
        font-size: 12px;
        height: 20px;
        padding-left: 4px;
        text-align: center;
        line-height: 20px;
        background-image: url("../images/phone.png");
        background-repeat: no-repeat;
        margin-left: 8px;
        margin-top: -10px;
    }

    .clearfix {
        overflow: hidden;
        _zoom: 1;
        clear: both;
        margin-top: -30px;
        height: 100%;
    }

    /*模块文字描述*/
    .copment {
        width: 100%;
        height: 20px;
        margin-top: -12px;
        margin-left: 0px;
    }

    .dopment {
        width: 100%;
        height: 20px;
        margin-top: -5px;
    }

    .comp {
        display: inline-block;
        margin-left: 8px;
    }

    .domp {
        display: inline-block;
        margin-left: 0px;
    }

    .com_white {
        color: #fff;
        font-size: 12px;
    }

    .com_yellow {
        color: #ffd305;
        font-size: 12px;
    }

    /*竞争表格*/
    #compment {
        color: #fff;
        width: 100%;
        margin-top: 0px
    }

    #compment th {
        background-color: #02004f;
        color: #00deff;
        border: 1px solid rgb(70, 120, 175);
        font-size: 11px;
    }

    #compment td {
        color: #fff;
        text-align: center;
        border: 1px solid rgb(70, 120, 175);
        font-size: 11px;
    }

    /*发展*/
    #tab_btn {
        margin-top: -25px;
    }

    .domp {
        display: inline-block;
        margin-left: 18px;
    }

    #Development {
        width: 100%;
        height: 70%;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        position: relative;
        background: transparent;
    }
}

.datagrid-header td.datagrid-header-over {
    background: none;
    cursor: pointer;
    border: none
}


.datagrid-body td, .datagrid-footer td {
    border: none;
}

.datagrid-body td, .datagrid-footer td {
    border-top: 1px solid #fff;
}



.datagrid-header .datagrid-cell span {
    color: #00deff;
}



.datagrid-pager .pagination {
    display: none;
}

.datagrid-htable td {
    border: none;
    cursor: default;
}



/*--------适配1920x1080分辨率-------*/
@media screen and (min-height: 750px) {


    .target_wrap:last-child {
        padding: 1.2rem 0.4rem 0.2rem;
    }
    .target_wrap {
        padding: 1.2rem 0.4rem;
        height: 28% !important;
        padding-top: 0px;
    }
    .target_list p.channel_title {
        padding: 2px 20px;
        font-size: 15px;
    }
    .point_rank_tab th {
        padding: 10px 0;
    }
    .point_rank_tab td {
        padding: 4px 0;
    }

    .target_list {
        padding-top: 20px;
    }
}

.date span {
    color: #ffd200;
}


::-webkit-scrollbar {
    width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    background: rgba(1, 12, 113, 1);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: rgba(6, 19, 140, 1);
    -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(11, 26, 165, 1);
}

::-moz-scrollbar {
    width: 6px;
}

/* 滚动槽 */
::-moz-scrollbar-track {
    -moz-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
    background: rgba(1, 12, 113, 1);
}

/* 滚动条滑块 */
::-moz-scrollbar-thumb {
    background: rgba(6, 19, 140, 1);
    -moz-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}

::-moz-scrollbar-thumb:window-inactive {
    background: rgba(11, 26, 165, 1);
}