/*滚动条样式*/
::-webkit-scrollbar {
    width:6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.3);
    background:rgba(1,12,113,1);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background:rgba(6,19,140,1);
    -webkit-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(11,26,165,1);
}

::-moz-scrollbar {
    width:6px;
}
/* 滚动槽 */
::-moz-scrollbar-track {
    -moz-box-shadow:inset006pxrgba(0,0,0,0.3);
    background:rgba(1,12,113,1);
}
/* 滚动条滑块 */
::-moz-scrollbar-thumb {
    background:rgba(6,19,140,1);
    -moz-box-shadow:inset006pxrgba(0,0,0,0.5);
}
::-moz-scrollbar-thumb:window-inactive {
    background:rgba(11,26,165,1);
}