html, body {
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    border:none;
}
body {
    background-color: none;
    overflow: hidden;
}
div.tab_menu a  {display:inline-block;float:left;height:22px;line-height:22px;width:60px;border-radius:2px;text-align:center;color:#a7d9ff;text-decoration:none;}
div.tab_menu a.selected {background-color:#025aac;color:#fff;}
#nav_fanhui,#nav_fanhui_sub{
    position: absolute;
    float: right;
    right: 4px;
    top: 4px;
    width:40px;
    height:40px;
    font-weight: normal;
    padding: 1px 8px;
    border:solid 2px #1479c0;
    border-radius:6px;
    background:url('/resources/themes/common/css/icons/back_icon1.png') no-repeat center center;
    z-index: 9999;
}
input{
    line-height: 22px!important;
    height: 22px!important;

    border-radius: none;
    border:none;
    padding: 0;
    outline: none;
}
input[type="button"]::-moz-focus-inner{
    border:none;padding:0;
}
.esriPopup .contentPane {
    position: relative;
    max-height: 300px;
    overflow: auto;
    padding: 5px 6px 6px 10px;
    background-color: #F7F7F7;
    color: #333333;
    font-family:'Microsoft Yahei';
}
/*屏幕高度最大为1080px*/
@media screen and (max-height: 1080px) {
    .target_wrap{
        height: 26%;
    }
    .btn_c{
        height: 30px;
        width: 100%;
        margin: auto;
        cursor: hand;
        position: absolute;
        top: 30px;
        z-index: 9999999;
        text-align: center;
    }
    .figure{
        width:100%;
        height:98%;
        margin-top: 28px
    }
    .target_list dd {
        font-size: 14px;
        height: 1.5rem;
        padding-left: 4px;
    }
    .target_wrap_a{
        height: 26%;
    }
}
/*屏幕高度最大为768px*/
@media screen and (max-height: 768px) {
    .target_wrap{
        height: 26%;
    }
    .btn_c{
        height: 30px;
        width: 100%;
        margin: auto;
        cursor: hand;
        position: absolute;
        top: 30px;
        z-index: 9999999;
        text-align: center;
    }
    .figure{
        width:100%;
        height:96%;
        margin-top: 28px
    }
    .clearfix{
        margin-top: 2px;
    }
    .target_list dd {
        font-size: 12px;
        height: 1.5rem;
        padding-left: 4px;
    }
    .target_wrap_a{
        height: 28%;
    }
}
/*屏幕高度最大为600px*/
@media screen and (max-height: 600px) {
    .target_wrap{
        height: 27%;
    }
    .btn_c{
        height: 30px;
        width: 100%;
        margin: auto;
        cursor: hand;
        position: absolute;
        top: 30px;
        z-index: 9999999;
        text-align: center;
    }
    .figure{
        width:100%;
        height:98%;
        margin-top: 28px
    }
    .clearfix{
        margin-top: 0px;
    }
    .target_list dd {
        font-size: 12px;
        height: 1.5rem;
        padding-left: 4px;
    }
}



