html,body {margin:0; padding:0;height:100%;width:100%;border:none;background-color:none!important;}
.main{width:100%;height:100%;text-align:left;}

.picBox {
    width:9px;
    background:url(../../common/images/left.gif) no-repeat center center;
    float:left;
    height:100%;
}
.panel-body {background-color:transparent;}
.panel-body-noheader {border-width:0px;}
#tops_list_tab {position: absolute;left:5px;bottom:10px;}
#tops_list_tab table {
    table-layout:fixed;
    empty-cells:show;
    border-collapse: collapse;
    margin:0 auto;
    border:1px solid #002379;
    color:#002379;
    background: #fff;
}
#tops_list_tab table td,#tops_list_tab table th{
    border:1px solid #ccc;
    padding:2px 2em ;
    cursor: pointer;
    font-size:12px;
    text-align: center;
}
#tops_list_tab table th{
    height:30px;
    font-size:14px;
    background: #cce1fc;
}
#click_path a:link, a:visited {
    color: #fff;
    text-decoration: underline;
}

@media screen and (min-height:750px) and (max-height:1000px){
    #map_mode_view {top:8px!important;}

}
@media screen and (min-height:751px) and (max-height:1000px){
    #map_mode_view {top:0px!important;}

}