.region_switch_group_village_cell{
    position:absolute;
    right:20px;/*地址栏和层级切换互换位置，打开时层级切换靠右。关闭时配合leader_org_frame页面reposMapPosition方法*/
    top:10px;
}
.region_switch_group_village_cell ul li{
    float: left;
    height: 26px;
    line-height: 26px;
    vertical-align: middle;
    color: #000;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 0 15px;
    background: #fff;
    margin-right: 5px;
    font-size: 12px;
    /*cursor: pointer;*/
}
.region_switch_group_village_cell ul li.active{
    background: #009ad8;
    color: #fff;
}